<link rel="stylesheet" href="{$Think.config.dlccss}datepicker.css" />
<script src="{$Think.config.dlcjs}bootstrap-datepicker.min.js"></script>
<script src='{$Think.config.dlcjs}highcharts.js'></script>
<div class="row" style="background:#FFF">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="col-xs-12 col-sm-12" style='padding:0'>
                <form id="App-search" style="float: right;">
                    交易时间：
                    <label style="margin-bottom: 0px;">
                        <input readonly="readonly" class="form-control search-query date-picker" style="width:120px;float:none;" name="start" value="{$start}" placeholder="开始时间" type="text">
                    </label>
                    &nbsp;至&nbsp;
                    <label style="margin-bottom: 0px;">
                        <input class="form-control search-query date-picker" style="width:120px;float:none;" name="end" readonly="readonly" value="{$end}" placeholder="结束时间" type="text">
                    </label>
                                    &nbsp;&nbsp;
                        <a href="{:url('dlc/Statistics/shop')}" class="btn btn-success" data-loader="App-loader" data-loadername="搜索结果" data-search="App-search">

                        <i class="fa fa-search"></i>搜索
                    </a>
                </form>
            </div>
            <div class="col-xs-6">
                        
                        <div id="container" style="min-width:400px;height:700px"></div>
        
                    </div>
            <div class="col-xs-6">
                        <div id="container1" style="min-width:400px;height:700px"></div>

                    </div>
        </div>
    </div>
</div>

<!--面包屑导航封装-->
<div id="tmpbread" style="display: none;">{$breadhtml}</div>

<script type="text/javascript">
setBread($('#tmpbread').html());
</script>

<!--/面包屑导航封装-->
<script>

    
$(function () {
    // 横柱状图
  $('#container').highcharts({
    chart: {
        type: 'bar'
    },
    title: {
        text: '商家销售统计前20名'
    },
    xAxis: {
        categories: [
            {volist name="list" key="k" id="vo"}
                "{$vo.title}",
            {/volist}
        ]
    },
    yAxis: {
        min: 0,
        title: {
            text: '商家销售数量'
        }
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [{
        name: '商家销售',
        data: [
            {volist name="list" key="k" id="vo"}
                {$vo.goods_num},
            {/volist}
        ]
    }]
  });

  // 饼状图
  $('#container1').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
    },
    title: {
        text: '商家销售（前20名)'
    },
    tooltip: {
        //pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        pointFormat: '{series.title}: <b>{point.percentage:.2f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                //format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        type: 'pie',
        name: '所占比例',
        data: [
                    {volist name="list" key="k" id="vo"}
                    ["{$vo.name}",{$vo.goods_num}],
                    {/volist}
                    
                ]
    }]
    });


  // 时间选择框
    $('.date-picker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true
    });


});

</script>
