<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Dlc/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Dlc/ueditor/ueditor.all.min.js"></script>
<div class="row">
    <div class="col-xs-12 col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget-header bg-blue">
                <i class="widget-icon fa fa-arrow-down"></i>
                <span class="widget-caption">修改设备商品单价</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <form id="AppForm" action="" method="post" class="form-horizontal" data-bv-message="" data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    <div class="form-title">
                        <a href="{:url('Dlc/device/goods',array('device_id'=>$device_id,'page'=>$pages,''))}" class="btn btn-primary" data-loader="App-loader" data-loadername="设备商品列表">
                            <i class="fa fa-mail-reply"></i>返回
                        </a>
                    </div>


                    <input type="hidden" name="device_id" value="{$device_id}">
                    <input type="hidden" name="page" value="{$pages}">
                    <input type="hidden" name="device_goods_id" value="{$device_goods_id}">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">商品单价</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="price" placeholder="必填" required="required"
                                   value="{$result.price}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-4">
                            <button class="btn btn-primary btn-lg" type="submit">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--面包屑导航封装-->
<div id="tmpbread" style="display: none;">{$breadhtml}</div>
<script type="text/javascript">
    setBread($('#tmpbread').html());
</script>
<!--/面包屑导航封装-->
<!--表单验证与提交封装-->
<script type="text/javascript">
    $('#AppForm').bootstrapValidator({
        submitHandler: function (validator, form, submitButton) {
            var tourl = "{:url('Dlc/device/updateGoods')}";
            var data = $('#AppForm').serialize();
            $.App.ajax('post', tourl, data, null);
            return false;
        }});
    $('#shop_id').change(function () {
       var pid = $("#shop_id option:selected").val();//attr('data-pid');
       // console.log(pid);
       // $("#receive_add").hide();
       $.ajax({
          type: "get",
          contentType: "application/json",
          url: "{:url('dlc/device/networks')}?id="+pid,
          success: function (result) {
            var strocity = '';
            for (var i = 0; i < result.length; i++) {
                strocity += '<option value=' + result[i].network_id + '>';
                strocity += result[i].title;
                strocity += '</option>'; 
            } 
            $("#network_id").text('');
            $("#network_id").append(strocity);
            // console.log(strocity);
         }
       })
    });
</script>
<!--/表单验证与提交封装-->